@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alexandria", sans-serif;
  text-transform: capitalize;
  text-decoration: none;

}

html {
  direction: rtl;
}
div {
  display: block;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}
.pd {
  padding-left: 2%;
  padding-right: 2%;
}

/* Top Header */
.top-header {
  background: none;
  padding: 5px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-info-left ul li {
  display: inline-block;
  margin-right: 15%;
}

.header-info-left ul li a {
  font-size: 13px;
  color: #323232;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.header-info-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-info-right ul li {
  margin-right: 10px;
}

.header-info-right ul li a {
  color: #323232;
  padding-left: 10px;
  text-decoration: none;
}
hr {
  /* border-bottom: 1px solid rgb(255, 255, 255 / 25%); */
  margin: 0 90px;
  background: none;
}
/* Responsive Styles */

@media (max-width: 768px) {
  .top-header {
    padding: 5px 11%;
  }

  .header-info-left ul li,
  .header-info-right ul li {
    margin-right: 10 px;
  }

  .header-info-left ul li a {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .top-header {
    flex-direction: column;
    padding: 5px 10px;
  }

  .header-info-left ul li,
  .header-info-right ul li {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .header-info-left ul li a {
    font-size: 10px;
  }
}
@media (max-width: 414px) {
  .top-header {
    flex-direction: row;
    padding: 5px 10px 0 5px;
    justify-content: space-between;
  }
  hr {
    margin: 0 5px;
    background: none;
}
}
/* Header */
.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 55;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  background: none;
  /* background: linear-gradient(309.62deg, #007D56 10.45%, #002A56 100.78%); */
}
.active {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  top: 0;
}
.active .navbar ul li a{
  color: #000;
}
header .logo img {
  width: 250px;
  padding: 30px;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  position: relative;
  float: right;
}
header .navbar ul li a {
  font-size: 12px;
  padding: 20px;
  color: #fff;
  display: block;
  font-weight: bold;
}
header .navbar .drop-down li a {
  color: #000;
}
header .navbar ul li a:hover {
  color: rgb(0, 125, 86);
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  display: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header .navbar ul li ul li {
  width: 100%;
}
header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar {
  display: none;
  
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
  margin-right: 50%;
}
.navbtn {
  background-color: #007d56;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  margin-left: 45px;
}
/* Responsive header */
@media (max-width: 414px) {
  header label{
    padding-left: 50px;
    margin-right: 40%;
  }
}
@media (max-width: 768px) {
  .header{
    padding: 5px 0;
  }
  .header .logo img{
    padding: 30px 0 0 20px;
  }
  header label{
    /* padding: 30px 0 0 20px; */
  }
  
  .active .logo img{
    width: 180px;
    margin-right: 10%;
    padding: 10px;
  }
}
@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: scroll;
    margin: 0 5%;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,.1);
    border-radius: 6px;
    max-height: 300px;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: #eee;
  }
  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
    
  }
  .navbtn {
    position: relative;
    display: none;
    width: 100%;
  }
}

/* Second Header */
.SecondHeader {
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  /* background: none; */
  background: linear-gradient(309.62deg, #007D56 10.45%, #002A56 100.78%);
}
.active {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  top: 0;
}
.active .navbar ul li a{
  color: #000;
}
header .logo img {
  width: 250px;
  padding: 30px;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  position: relative;
  float: right;
}
header .navbar ul li a {
  font-size: 12px;
  padding: 20px;
  /* color: #fff; */
  display: block;
  font-weight: bold;
}
header .navbar .drop-down li a {
  color: #000;
}
header .navbar ul li a:hover {
  color: rgb(0, 125, 86);
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  display: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.header .navbar ul li ul li {
  width: 100%;
}
.header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
.header .navbar ul li:focus-within > ul,
.header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar {
  display: none;
  
}

.header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
  margin-right: 50%;
}
.navbtn {
  background-color: #007d56;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  margin-left: 45px;
}
/* Responsive header */
@media (max-width: 414px) {
  .header label{
    padding-left: 50px;
    margin-right: 40%;
  }
}
@media (max-width: 768px) {
  .SecondHeader{
    padding: 5px 0;
  }
  .SecondHeader .logo img{
    padding: 30px 0 0 20px;
  }
  .header label{
    /* padding: 30px 0 0 20px; */
  }
  
  .active .logo img{
    width: 180px;
    margin-right: 10%;
    padding: 10px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
  .header label {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: scroll;
    margin: 0 5%;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,.1);
    border-radius: 6px;
    max-height: 300px;
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header .navbar ul li ul li {
    background: #eee;
  }
  .header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
    
  }
  .navbtn {
    position: relative;
    display: none;
    width: 100%;
  }
}

/* Hero Background Image */
.hero-bg img {
  width: 100%;
  top: 0;
  opacity: 0.7;
  object-fit: cover;
  position: absolute;
  text-align: center;
  height: 100vh;
}
.hero-bg {
  height: 100vh;
}
@media (max-width: 1440px) {
  .hero-bg img {
    width: auto;
    height: 100vh;
  }
  
}
.hero-title {
  position: absolute;
  top: 35%;
  left: 69%;
  font-size: 30px;
  font-weight: 800;
  line-height: 84px;
  color: #ffffff;
  z-index: 1 !important;
}
.hero-btn {
  position: absolute;
  top: 45%;
  left: 76%;
  margin-top: 45px;
  background: none;
  padding: 18px 50px;
  border-radius: 0.3rem;
  font-size: 16px;
  font-weight: 600;
  border: white solid 3px;
  color: #ffffff;
  z-index: 1 !important;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #fff !important;
  font-weight: 900;
  opacity: .3;
}
.mySwiper .swiper-pagination-bullet-active{
  background: #fff;
}
.carousel__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  opacity:.6;
  background: linear-gradient(309.62deg, #007D56 10.45%, #002A56 100.78%);
  height: 100vh;
  z-index: 0 !important;
}
/* Media queries for responsiveness */
@media (max-width: 414px) {
  .hero-title {
    text-align: center !important;
    font-size: 25px !important;
    left: 0;
    right: 0;
  }
  .hero-btn {
    left: 0;
    right: 0;
    margin: 0 100px;
  }
  .hero-bg img {
    height: 80vh;
  }
  .hero-bg {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 20px;
    line-height: 56px;
  }

  .hero-btn {
    font-size: 14px;
    padding: 12px 30px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 16px;
    line-height: 42px;
  }

  .hero-btn {
    font-size: 12px;
    padding: 10px 24px;
  }
}
.cat-cap {
  width: 100%;
}
.hero-btn:hover {
  background-color: white;
  color: black;
}
/* Invest Oppor Section */
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4%;
}

h2.section-title {
  display: block;
  font-size: 30px;
  font-weight: 800;
  height: 55px;
  text-align: inherit;
  color: #081828;
  padding-right: 10%;
}
@media (max-width: 414px) {
  .container1{
    flex-flow: column;
  }
  h2.section-title {
    font-size: 20px;
    padding: 10px 0 0 0;
  }
  .investbtn{
    font-size: 12px;
    margin-left: 90px !important;
    margin-right: 0px !important;
  }
  .owl-prev {
    height: 30px !important;
    width: 30px !important;
  }
  .card{
    margin-top: 10px;
  }
  .swiper-container1{
    padding-top: 10px !important;
  }
}
.investbtn {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #212529;
  border-radius: 0;
  margin: 0 10px;
  font-size: 15x;
  font-weight: 400;
  color: #000;
}
.owl-custom-control {
  display: inline-block;
}
.owl-custom-control .owl-controls {
  background: transparent;
  position: static;
  margin: 0;
}
.owl-prev {
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  background-color: #fff;
  color: #9d9d9d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 0 5px;
}
.owl-prev:hover {
  background-color: gray;
}
.wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper > * {
  margin: 0 3rem 2rem;
}

.card {
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 10px;
  display: flex;
  margin: 0 20%;
  width: 301px;
}
.card img {
  width: 100%;
  height: 450px ;
  object-fit: cover;
}
.oppor-work {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 33.33%,
    rgba(255, 255, 255, 1) 66.66%,
    rgba(255, 255, 255, 0) 99.99%
  );
  background-size: 300% 300%;
  background-position: 100% 100%;
  transition: 0s;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  padding: 50px 0;
  
}
.card_title {
  color: #fff;
  margin: 0 0 10px 0;
  font-size: 19px;
  font-weight: 700;
  padding: 10px 0;
}
.card-cat {
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  display: block;
}
.card-date {
  padding-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  display: block;
  margin: 0;
}
.swiper-container1{
  margin-left: 75px !important;
}
/* Oppor 2 css */
.oppor_2 {
  margin-top: 2rem;
  width: 100%;
}
.single-cat {
  background: linear-gradient(309.62deg, #007d56 10.45%, #002a56 100.78%);
  padding: 45px 10px;
  margin: 10px;
  border-radius: 15px;
  position: relative;
  top: 0;
  text-align: center;
  width: 48%;
}
@media (max-width: 414px) {
  .single-cat{
    width: 355px;
  }
}
.single-cat:hover{
    -webkit-box-shadow: 0 20px 30px rgb(35 47 85 / 30%);
}
.single-cat h5 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 50px 0;
}
.cap-btn {
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 5px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
/* Oppor 3 */
.oppor_3 {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 375px;
  width: 93%;
  margin-left: 5%;
  margin-right: 3.7%;
}
.imgCover {
  background: linear-gradient(309.62deg, #007d56 10.45%, #002a56 100.78%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
 
}

.single-cat2-inner {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100% !important;
  width: 100%;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}
.single-cat2-inner h2 {
  margin-top: 0;
  font-size: 35px;
  color: white;
  margin-bottom: 50px;
}
@media (max-width: 414px) {
  .single-cat2-inner h2{
    font-size: 35px !important;
    margin-bottom: 30px !important;
    /* padding-right: 15px; */
  }
  .single-cat2-inner{
    margin-right: 0px;
    width: auto;
    padding-right: 15px;
    margin-top: 75px;
  }
}
.oppor3_btn {
  padding: 15px 45px;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: white;
  border: solid 3px white;
  border-radius: 0.3rem;
}
.oppor3_btn:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.3s;
}

/* Promising sectors */
.promising_card {
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 2px 35px rgb(0 0 0 / 7%);
  position: relative;
  display: flex;
  flex-direction: column;
  background: none;
  background-clip: border-box;
  max-width: 400px;
  padding: 70px 45px;
  margin: 10px;
}
.invest_oppor {
  margin-top: 5%;
}
.section-title2 {
  display: block;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: 800;
  height: 55px;
  margin: 0 50px;
  text-align: inherit;
  color: #002a65;
  padding-right: 3%;
}
.investbtn2{
  padding: 0 0 5px 0;
  border-bottom: 1px solid #212529;
  border-radius: 0;
  margin: 0 10px;
  font-size: 15x;
  font-weight: 400;
  color: #000;
}
@media (max-width: 414px) {
  .container1{
    flex-flow: column;
    padding-left: 0;
    align-items: flex-start;
  }
  h2.section-title2 {
    font-size: 20px;
    padding: 10px 0 0 0;
    height: 40px;
    margin-right: 15px;
  }
  .investbtn{
    font-size: 12px;
  }
  .owl-prev {
    height: 30px !important;
    width: 30px !important;
  }
  .card{
    margin-top: 10px;
    padding-left: 45px;
  }
  .oppor-work{
    padding-left: 45px;
  }
  .swiper-container1{
    padding-top: 10px !important;
  }
  .investbtn2{
    margin-right: 110px;
    margin-left: 50px;
  }
}
.icon-box {
  width: 100%;
  align-items: center;
}
.icon-box .icon {
  margin: 0 auto 30px;
  justify-content: center;
  width: 110px;
  height: 110px;
  background: #007d56;
  background: linear-gradient(
    309.62deg,
    rgb(0 125 86 / 50%) 10.45%,
    #002a56 100.78%
  );
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.icon-box .icon {
  color: #fff;
  font-size: 40px;
}
.icon-box h4 {
  font-weight: 600;
  margin-bottom: 15px !important;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.icon-box h4 a {
  text-decoration: none;
  color: black;
}
.icon-box p {
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: gray;
  padding: 0 20px;
}
.promising_card:hover {
  background: linear-gradient(309.62deg, #007d5680 10.45%, #002a56 100.78%);
}
.promising_card .icon-box:hover .icon {
  background: #fff;
  color: #007d56;
}

.promising_card .icon-box:hover .icon::before {
  background: #0f976c;
}
.promising_card .icon-box:hover h4,
.promising_card .icon-box:hover h4 a,
.promising_card .icon-box:hover p {
  color: #fff;
}
.swiper-container2{
  margin-left: 5% !important;
  margin-right: 4% !important;
  margin-top: 10px;
}
/* Governorates Section */
.gov_section {
  background-color: #f8f9fa !important;
  padding-top: 70px;
  margin-bottom: 5%;
  
}
.cities-list {
  padding: 40px 0;
  text-align: center;
}

.card-image {
  position: relative;
  width: 200px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 13px 28px -12px rgba(0, 0, 0, 0.8);
  margin-right: 20px;
  margin-bottom: 50px;
  
}

.card-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2.section-title3 {
  display: block;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: 800;
  height: 55px;
  margin: 0 50px;
  text-align: inherit;
  color: #002a65;
  padding-right: 3%;
}
.investbtn3{
  padding: 0 0 5px 0;
  border-bottom: 1px solid #212529;
  border-radius: 0;
  margin: 0 10px;
  font-size: 15x;
  font-weight: 400;
  color: #000;
}
@media (max-width: 414px) {
  h2.section-title3 {
    font-size: 20px;
    padding: 10px 0 0 0;
    height: 40px;
    margin-right: 0;
  }
  .investbtn3{
    
    margin-right: 23%;
    margin-left: 15%;
  }
}
.swiper-container3{
  margin-top: 15px !important;
  margin-right: 70px !important;
}
/* Partners Section */
.partners-list{
  padding: 50px 0;
  text-align: center;
}
.partners-card-image {
  position: relative;
  width: 200px;
  /* height: 160px; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 13px 28px -12px rgba(0, 0, 0, 0.8);
  margin-right: 20px;
  margin-bottom: 50px;
  
}
/* Footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0 10px;
  display: block;
}
@media (max-width: 414px) {
  .footer .footer-top .container {
    padding: 50px 0 !important;
    height: 820px;    
  }
  .footer .single-footer.f-about p {
    margin-top: 20px !important;
    font-size: 14px;
    padding: 0 10px;
    width: 400px !important;
  }
  .col-lg-4 {
    width: 100%;
}
  .col-12{
    max-width: 100%;
  }
.footer .single-footer h3 {
  padding-right: 15px;
}
.footer .footer-bottom .social li {
  display: inline-block;
  margin-right: 60px !important;
  margin-top: 10px;
}
.footer .single-footer.f-link li a {
  padding-right: 25px;
}
.footer ul.contactul p {
  padding-right: 25px;
}
.footer ul.contactul li span.tel {
  padding-right: 25px;
}


}

.footer .single-footer {
  margin: 20px 0 0;
}
.footer .footer-bottom {
  margin-bottom: 20px;
  padding: 25px 0;
}
.footer .footer-top .container {
  padding: 50px 20px;
}
.footer .footer-top .container {
  background: linear-gradient(318deg, #007d56 10.45%, #002a56 100.78%);
  padding: 50px;
  border-radius: 50px;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.footer .single-footer.f-about .logo img {
  width: 180px;
}
.footer .single-footer.f-about p {
  color: #d2d6dc;
  margin-top: 20px;
  font-size: 14px;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .footer .single-footer.f-about p {
    width: 200px;
  }
}
.footer .footer-bottom .social {
  text-align: end;
}
.footer .footer-bottom .social li {
  display: inline-block;
  margin-right: 17px;
}

.footer .footer-bottom .social li a {
  color: #002a56;
  font-size: 17px;
}
.footer .footer-bottom .social li a:hover {
  color: #007d56;
}
.footer .footer-bottom .social li:last-child {
  margin: 0;
}
.footer .footer-bottom .copyright-text {
  color: #002a56;
  font-size: 14px;
  font-weight: 800;
  text-align: start;
}

.footer .footer-bottom .copyright-text a {
  color: #002a56;
}
.footer .footer-bottom .copyright-text a:hover {
  color: #007d56;
}
.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 14px;
}
.footer .single-footer.f-link li:last-child {
  margin: 0px;
}

.footer .single-footer.f-link li a {
  font-size: 14px;
  font-weight: 400;
  color: #d2d6dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 150px;
}

.footer .single-footer.f-link li a:hover {
  color: #fff;
}
.footer .single-footer h3 {
  font-size: 18px;
  font-weight: 800;
  display: block;
  margin-bottom: 35px;
  color: #fff;
  text-align: right;
}

.footer .single-footer {
  color: #d2d6dc;
}
.footer ul.contactul {
  text-align: right;
  list-style: none;
  padding: 0 0 0 10px;
  margin: 35px 0 0 0;
  color: #fff;
}
.footer ul.contactul p {
  font-size: 14px;
}
.footer ul.contactul li span.tel {
  display: inline-block;
  direction: ltr;
  font-size: 14px;
}

.footer ul.contactul li i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 18px;
}

.row {
  /* --bs-gutter-x: 1.5rem; */
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
  flex-shrink: 0;
  /* width: 100%; */
  /* max-width: 100%; */
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
/* Bootstrap */
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}


/* About Page */

.section_about_us{
  padding-top: 200px;
  padding-right: 5%;
  padding-left: 4.5%;
}
.Single_img{
  display: flex;
}
.section_about_us .single-inner h1{
  color: #081828;
  font-size: 48px;
  max-width: 450px;
  margin-right: 8%;
  /* margin-bottom: 30px; */
  position: relative;
  padding-bottom: 15px;
}
.section_about_us .single-inner hr{
  background: #007D56;
  margin: 10px 0 0 0;
  height: 7px;
  width: 50%;
}
.section_about_us .single-inner p{
  margin-right: 8%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #888888;
  max-width: 690px;
}
.targets{
  margin-top: 80px;
}
.targets h2{
  font-size: 35px;
  color: #081828;
}
.ul_targets {
  margin: 50px 0;
  padding: 0;
}
.ul_targets li{
  border: 3px solid #002a56;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 5%);
  
}
.ul_targets li .i {
  background-color: #002a56;
  padding: 15px;
  color: #fff;
  font-size: 30px;
  width: 30px;
}

.ul_targets li span {
  padding: 0 10px;
  font-weight: 700;
  color: #002a56;
  font-size: 17px;
  align-self: center;
}
.ul_targets li span {
  padding: 20px 10px;
  font-weight: 500;
  color: #002a56;
  font-size: 15px;
  align-self: center;
}
@media (max-width: 414px) {
  .Single_img {
    display: flex;
    flex-wrap: wrap;
}
  .Single_img img{
    max-width: 100%;
  }
  .single-inner h1{
    font-size: 28px !important;
    padding-top: 10px;
    margin-right: 0 !important;
  }
  .single-inner p {
    margin-right: 0 !important;
  }
  .section_about_us{
    padding-top: 150px;
  }
  .ul_targets li .i {
    height: auto;
}
}
/* Medina Region Page */
.medina_region{
  padding-top: 170px;
  padding-right: 4.5%;
  padding-left: 4.5%;
}
.main-title{
  margin-bottom: 30px;
}
.tabs-list{
  margin-top: 32px;
}
ul.tabs-list{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
}
ul.tabs-list li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  width: 19%;
  margin-bottom: 5px;
  margin-left: 5px;
  border-left: 0!important;
  position: relative;
}
#panel-1-ctrl:checked ~ .tabs-list #li-for-panel-1 label.panel-label {
  background-color: #007d56;
  background: linear-gradient(318deg, #007D56 10.45%, #002A56 100.78%);
  color: #fff;
  padding-top: 26px;
}
label.panel-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  color: #355574;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ecf0f1;
  transition-property: background-color, color;
  transition-duration: 200ms;
}
label.panel-label:hover{
  background-color: #e0e9eb;
}
ul.tabs-list li label.panel-label {
  position: relative;
  padding: 24px 0;
}
.section-title h2{
  text-align: center;
  color: #007D56;
  padding: 50px 0;
  padding-bottom: 20px;
  display: none;
}
.section-title  hr{
    display: none;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 2.5px;
    margin-bottom: 20px;
    margin-right: 650px;
}
label.active-label{
  background-color: #007d56;
    background: linear-gradient(318deg, #007D56 10.45%, #002A56 100.78%);
    color: #fff;
    padding-top: 26px;
}
.active-content h2{
  display: block;
}

.active-content hr{
  display: block;
}

.active-content .img-fluid{
  display: block !important;
  
}
.section-title .img-fluid{
  display: none;
}
.img-fluid img {
  width: 60%;
  height: 60%;
}
.img-fluid{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.section-title h4{
  text-align: center;
  color: #007D56;
  padding: 50px 0;
  padding-bottom: 20px;
  display: none;
}
.active-content h4{
  display: block;
}
.section-title p{
  text-align: center;
  color: #686868;
  padding-bottom: 20px;
  display: none;
}
.active-content p{
  display: block;
}
.section-title .ul_targets{
  display: flex !important;
  flex-wrap: wrap ;
  display: none;
  justify-content: space-between;
}
.active-content .ul_targets{
  display: block;
}
.section-title .ul_targets li span{
  font-weight: 700 !important;
  display: none;
}
.active-content .ul_targets li span{
  display: inline;
}
.section-title .ul_targets li{
  width: 48%;
  display: none;
}
.active-content .ul_targets li{
  width: 48%;
  display: inherit;
}
.section-title .ul_targets li .i{
  height: auto;
}
.section-title .med_factorys_num{
  display: none;
}
.active-content .med_factorys_num{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 6%;
}
.med_factorys_num .icon-box{
  width: 240px;
  margin: 20px 0;
  text-align: center;
  padding: 30px 20px 60px 20px;
  margin: 15px 20px;
  border-radius: 15px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 2px 35px rgb(0 0 0 / 7%);
}
.med_factorys_num .icon-box p{
  padding: 0;
}

.med_factorys_num .icon-box:hover {
	/*background: #007D56;
	border-color: #007D56;*/
	background: linear-gradient(309.62deg, #007d5680 10.45%, #002A56 100.78%);
}
.med_factorys_num .icon-box:hover .icon {
  background: #fff;
}
.med_factorys_num .icon-box:hover .icon i {
  color: #007d56;
}
.med_factorys_num .icon-box:hover .icon::before {
  background: #0f976c;
}
.med_factorys_num .icon-box:hover h4,
.med_factorys_num .icon-box:hover h4 a,
.med_factorys_num .icon-box:hover p {
  color: #fff;
}
.section-title canvas{
  display: none;
}
.active-content canvas{
  display: block;
}
.section-title .chart{
  display: none;
}
.active-content .chart{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 1000px;
  height: 500px;
  margin-right: 15%;
  margin-bottom: 5%;
}
